<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
     <parameter name="browser" value="chrome"></parameter>
  <parameter name="urlnm" value="https://boardgamegeek.com/"></parameter>
  <parameter name="timeoutsec" value="15"></parameter>
   <parameter name="username" value="Sachinauto"></parameter>
  <parameter name="password" value="Flash@234"></parameter>
  
    <classes>
      <class name="testcases.LaunchTest"/>
      <class name="testcases.BoardGameGeekTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
